<form [formGroup]="form">
    <div class="contacts">
        <span class="title padding">Contacs</span>
        <div class="contact-input padding">
            <mat-form-field class="contact-input-chip" appearance="fill">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let contact of contacts" (removed)="remove(contact)">
                        {{contact}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="New contact..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
                        formControlName="contacts" class="contact-input">
                </mat-chip-list>
            </mat-form-field>
            <span class="error-message" *ngIf="form.controls['contacts'].hasError('required')">
                Este campo es requerido
            </span>
        </div>
    </div>
    <div class="subject flex-column padding">
        <span class="title">Subject</span>
        <input type="text" placeholder="You can add a subject" class="custom-input" formControlName="subject"
            [class.is-invalid]="form.controls['subject'].invalid">
        <span class="error-message" *ngIf="form.controls['subject'].hasError('required')">
            Este campo es requerido
        </span>
    </div>
    <div class="message flex-column padding">
        <span class="title">Message</span>
        <textarea placeholder="Leave your message here" class="custom-input large-input" formControlName="message"
            [class.is-invalid]="form.controls['message'].invalid"></textarea>
        <span class="error-message" *ngIf="form.controls['message'].hasError('required')">
            Este campo es requerido
        </span>
    </div>
    <div class="bottom">
        <div class="bottom-left"><input type="checkbox" class="checker"><span>Save a copy</span></div>
        <button type="submit" [disabled]="!form.valid" [class.invalid-button]="!form.valid" class="submit-button" (click)="someMethod()">
            <div class="icon" [class.invalid-icon]="!form.valid">
                <mat-icon class="play">play_arrow</mat-icon>
            </div>
            Send Mail
        </button>
    </div>
</form>